//通用变量

@header-height: 50px;
@footer-height: 0px;
@header-bgcolor: skyblue;
// 侧边栏菜单 宽度
@sidemenu-widht: 201px;

:root {
  --bg-color: red;
  // 高亮色，深色为主
  --theme-hcolor: #409EFF;
  // 配套（字体）色
  --theme-color: #FFF;

  // 窗口标题栏背景色
  --dialog-header-bgcolor: #EDEDED;

  // 常规内容背景色=白色
  --main-bgcolor: #FFF;
  // 最底部的装饰背景色=背景的背景
  --main-bbgcolor: #f8f8f8;

  --border-radius: 2px;
}
