/* 容器类样式，主要是页面view的布局样式 */

// 主内容区容器
.main-wrapper {
  margin: 10px 8px 8px 8px;
  padding: 0px;
  height: 100%;
  position: relative;
  overflow: hidden auto;
}

// 路由视图页面：独立的视图区域
.view {
  background-color: var(--main-bgcolor);
  padding: 5px 8px;
  border-radius: var(--border-radius);
  height: max-content;
  width: 100%;

  &.el-aside {
    height: 100%;
  }
}

// 左侧侧边栏布局，el-aside：含头部el-header、内容区域el-main
.aside-view-layout {
  margin-right: 8px;
  overflow: initial;
  padding: 5px;
  @header: 34px;

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    border-bottom: 1px dashed #0001;
    height: @header;
    line-height: @header;

    .el-button+.el-button {
      margin-left: 4px;
    }

  }

  .el-main {
    padding: 2px 0;
    max-height: calc(100% - @header);
  }
}

// 标准crud列表页面的布局，上中下模式，中间表格区域内容填满+滚动条
.list-view-layout {
  height: 100%;

  // 头部 功能操作、搜索
  .el-header {
    padding: 3px 0;
  }

  // 主内容：表格区域
  .el-main {
    padding: 5px 0;
  }

  // 底部-分页
  .el-footer {
    padding: 0px 5px 0 0;
  }
}

/* 容器内容 "scroll" ，滚动条样式 */
.scroll {
  max-height: 100%;
  overflow: auto;
}

/* ********** dialog布局样式 ************/
.form-dialg-title {
  display: flex;
  justify-content: space-between;
  height: 28px;
  line-height: 30px;
  margin-top: -5px;

  span:nth-child(1) {
    font-weight: bold;
  }

  .el-button--text {
    font-size: 16px;
  }
}

.from-dialog {
  .el-form {
    margin: 10px 10px -10px 0;
  }
}

.form-dialog-plus {
  position: absolute;
  overflow: inherit;

  .el-form {
    margin: 10px 10px -10px 0;
  }

  .el-dialog {
    min-height: 100% !important;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    box-shadow: initial;

    .el-dialog__header {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .el-dialog__body {
      overflow: auto;
      max-height: 100%;
    }
  }
}

.form-drawer .el-drawer__body {
  padding: 10px 20px 10px 10px;
}
